#
# ~/.gitconfig
#

[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto

[core]
	excludesfile = ~/.gitignore

[user]
	name = [name]
	email = [email]

[credential]
	helper = /usr/lib/git-core/git-credential-libsecret

[merge]
	tool = vimdiff
	conflictstyle = diff3

